<%= form_tag("/donations/#{@donation.id}", method: 'patch', remote: true ) do %>

<style>

h3 {color:maroon;
font-size:150%;
text-align:center}
h4 {color:maroon;
font-size:150%;
text-align:center}

</style>

<h3>
  <div class="field">
    <%= label_tag :quantity %>
    <%= number_field_tag :quantity %>
  </div>

 <div class="field">
    <%= label_tag :donor %>
    <%= select_tag :donor, options_from_collection_for_select(Donor.order(:last_name),:id,:full_name) %>
    
  </div>

  </h3>

<h4>
  <div class="actions">
    <%= submit_tag ('Donate') %>
  </div>
  </h4>
<% end %>

